In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("RestaurantReviews_FreshDump.tsv", delimiter = '\t', quoting = 3)
df.head()

                                              Review
0                        Spend your money elsewhere.
1  Their regular toasted bread was equally satisf...
2  The Buffet at Bellagio was far from what I ant...
3                   And the drinks are WEAK, people!
4                         -My order was not correct.

In [3]:
df.shape

(100, 1)

In [5]:
import nltk
nltk.download('stopwords')

import re
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords

ps=PorterStemmer()
all_stopwords=stopwords.words('english')
all_stopwords.remove('not')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [9]:
corpus=[]
for i in range(0,100):
    review=re.sub('[^a-zA-Z]',' ',df['Review'][i])
    review=review.lower()
    review=review.split()
    review=[ps.stem(word) for word in review if not word in set(all_stopwords)]
    review=' '.join(review)
    corpus.append(review)

In [10]:
import pickle
from  sklearn.feature_extraction.text import CountVectorizer
import pickle
cvFile='BoW_sentimentmodel.pkl'
cv=pickle.load(open(cvFile,"rb"))

In [11]:
x=cv.transform(corpus).toarray()
x.shape

(100, 1420)

In [12]:
import joblib
classifier=joblib.load('c2_Classifier_Sentiment_Model')

In [16]:
y_pred=classifier.predict(x)
print(y_pred)

[0 1 1 0 0 1 0 0 0 1 1 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 1 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 1 0
 0 1 0 0 0 0 1 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0]

In [15]:
df['predicted_label']=y_pred.tolist()
df.head()

                                              Review  predicted_label
0                        Spend your money elsewhere.                0
1  Their regular toasted bread was equally satisf...                1
2  The Buffet at Bellagio was far from what I ant...                1
3                   And the drinks are WEAK, people!                0
4                         -My order was not correct.                0